body {
  margin: 0;
  background: #0f172a;
  color: white;
  font-family: sans-serif;
}

.container {
  padding: 30px;
  text-align: center;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
